/* Styles généraux */
body {
    background: url('img/wp8102843.jpg') no-repeat ;
    background-color: #312f2f9a;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* En-tête */
header {
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Titres d'articles */
article h2 {
    font-family: 'Classy Vogue', sans-serif;
    font-size: 20px;
}

/* Articles */
article {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
}

/* Liste ordonnée */
ol, ul {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
}

/* Formulaire */
form {
    color: #fff;
    max-width: 300px;
    margin: 20px;
    margin-top: 0;
    top: 20px;
    right: 20px;
    background-color: #1d1c1c;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Section principale (articles côte à côte) */
section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styles pour chaque article et son conteneur */
article {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 10px; /* Ajoute une marge à droite pour espacement entre les articles */
}

/* Supprime la marge à droite du dernier article pour éviter un espace excessif */
article:last-child {
    margin-right: 0;
}

/* Barre de navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
